h1{
	font-family: 'Pacifico', cursive, 'Courier New', monospace;
	color: #ecf0f1;
	float:left;
}

body {
	background-color: #2c3e50;
	color: #ecf0f1;
	font-family: 'Courier New', monospace;
}

.navbarStyling{
	background-color: #34495e;
}
.navMenu{
	background-color: #34495e;
}

.cardContainer{
	margin-bottom: 20px;
}
.cardContainer:hover {
	opacity: 0.3;
}

.img-trans{
  transition: 2s ease;
  opacity: 1;
}

.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.title-bar{
	margin-top: 30px;
	margin-bottom: 10px;
}

.btn-container{
	text-align: right;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 6px 10px;
  background-color: #34495e;
  color: #ecf0f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #2c3e50;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #1abc9c;
  color: white;
}